body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s;
}

#vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 100%);
}

#text-container {
  position: absolute;
  top: 15%;
  left: 15%;
  right: 15%;
  bottom: 15%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
  color: white;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 1s;
}

#review-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#review-box {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  display: none;
}
